.app {
  border: 1px solid rgb(150, 150, 150);
  margin: 0 auto;
  margin-top: 20px;
  max-width: 700px;
  padding: 20px;
}

.app .conditions {
  text-transform: capitalize;
}

.app .forecast {
  text-align: center;
}

.app h1 {
  font-size: 30px;
  margin-bottom: 0;
  margin-top: 10px;
}

.app li {
  font-size: 16px;
}

.app .search-bar {
  height: 37px;
}

.celsiusTemperature,
.fahrenheitTemperature {
  font-size: 64px;
}

.app ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.forecast-icon {
  max-width: 70px;
}

.unit {
  position: relative;
  top: -34px;
}

.app .weather-description {
  margin-top: 15px;
}

.weather-icon {
  max-width: 90px;
  position: relative;
  top: -15px;
}
